<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <div apply="com.os.sipm.controller.users.ListController" action="show: slideIn({duration: 400})"  >
        <panel id="panelTitleUsers" title="${c:l('panelTitleUsers')}" >
            <caption>
                <toolbar align="end">
                    <toolbarbutton id="btnAdd" image="img/add.ico" tooltiptext="${c:l('btnAdd')}"/>
                    <toolbarbutton id="btnDelete" image="img/delete.ico" tooltiptext="${c:l('btnDelete')}"/>
                    <toolbarbutton id="btnEdit" image="img/edit.ico" tooltiptext="${c:l('btnEdit')}"/>
                    <toolbarbutton id="btnSearch" image="img/search.ico" tooltiptext="${c:l('btnSearch')}"/>
                    <toolbarbutton id="btnRefresh" image="img/refresh.ico" tooltiptext="${c:l('btnRefresh')}"/>
                </toolbar>
            </caption>
            <panelchildren style="border-bottom:none;">      
                <paging id="paging" autohide="true" detailed="true"/>        
                <listbox id="listboxData" style="border-bottom:none;border-top:none;" >
                    <listhead sizable="true" >
                        <listheader id="listheaderNo" label="${c:l('listheaderNo')}" width="40px" align="right"/>
                        <listheader id="listheaderUsername"  label="${c:l('listheaderUsername')}" width="200px" sort="auto"  />
                        <listheader id="listheaderRole" label="${c:l('listheaderRole')}"  sort="auto" />  
                        <listheader id="listheaderStatus" label="${c:l('listheaderStatus')}"  sort="auto" />                         
                    </listhead>
                </listbox>              
            </panelchildren>
        </panel>
    </div>
</zk>